body {
    background: #E591EF;
}

#conjunto {
    padding: 5% 5% 5% 5%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div_memes,
#div_imag,
#div_video {
    padding: 2%;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 600px;
    background: white;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.imgs {
    width: 100%;
    height: auto;
}

.imgi {
    width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción del video (16:9) */
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
