h1{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: indigo;
	text-align: center;

}
h2{
	font-family: 'Times New Roman', Times, serif;
	color: brown;
	text-align: center;
}
#centrar{
	padding: 30px 30px 5px 150px;
	width: 1100px;
	height: 500px;
}
form{
	padding: 10px 60px 10px ;
	width: 900px;
	height: 450px;
	border: 2px solid blue;
	border-radius: 10px;
	background: #A8D8E0;
}
