.nav-enlace{
	display: inline-block;/**/
	background:  salmon;
	color: #803075;
	padding: 10px 30px;/*tamaño de relleno, tamaños internos y externos*/
	text-decoration: none;/*quita el subrayado y quita cualquier decoracion*/
	border-radius: 10px;
}

.nav-enlace:hover{
	background: yellow;
}
nav{
	background: gray;
	padding: 10px ;
	display: flex;/*Organizar elements, cuando esta el flex  siempre es bbueno que los elementos tenga el elemento inline-blcok*/
	justify-content: space-around;/**/
}

.nav-boton{
	background: salmon;
	color: #803075;
	padding: 10px 0px;
	border: 2px solid white;
	display: none;/*Con el atributo none se puede esconder lo que queremos*/
}


@media(max-width:  600px){
	nav{
		background: red;
		flex-direction: column;
	}
	.nav-enlace{
		margin: 10px 0px;
	}
	.nav-boton{
		display: inline-block;
	}
	.desaparece{
		display: none;
	}
}